@media (max-width:1280px){
    body{
        padding: 0px  40px;
    }

    .informacoes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .informacoes .logo{
        position: fixed;
        top: calc(100vh - 90%);
    }

    .menu-lateral{
        position: fixed;
        top: calc(100vh - 80px);
        left: 0;
        min-height: 80px;
        width: 100vw; 
    }

    .menu-lateral ul{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
}

@media (max-width:768px){
    .informacoes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:480px){
    .informacoes .titulo{
        max-width: 300px;
    }

    .informacoes .descricao{
        min-width: 400px;
        min-height: 400px;
        
    }

}

@media(max-width:393px){

    .informacoes .descricao{
        min-width: 300px;
        min-height: 400px;
        font-size: 16px;
    }

    .botoes-carrossel{
        top: 85%;
    }
}
